In [1]:
import pandas as pd

data=pd.read_csv(r"Lifestyle_and_Health_Risk_Prediction_Synthetic_Dataset.csv")

try:

    data = pd.read_csv(r"Lifestyle_and_Health_Risk_Prediction_Synthetic_Dataset.csv")
    print("Successfully loaded file")

except FileNotFoundError:
    print(" File not found. Please verify the file path and try again.")

except pd.errors.EmptyDataError:
    print(" This file contains no data. Please check the dataset content.")

except pd.errors.ParserError:
    print(" Unable to parse the file. Ensure it is properly formatted as a CSV.")

except Exception as e:
    print(f" An unexpected error occurred: {e}")

Successfully loaded file

In [48]:
data.head()

,age,weight,height,exercise,sleep,sugar_intake,smoking,alcohol,married,profession,bmi,health_risk
0,56,67,195,low,6.1,medium,yes,yes,yes,office_worker,17.6,high
1,69,76,170,high,6.9,high,no,no,no,teacher,26.3,high
2,46,106,153,high,6.6,low,yes,no,no,artist,45.3,high
3,32,54,186,medium,8.5,medium,no,no,no,artist,15.6,low
4,60,98,195,high,8.0,low,no,no,yes,teacher,25.8,high

In [46]:
data.columns

Index(['age', 'weight', 'height', 'exercise', 'sleep', 'sugar_intake',
       'smoking', 'alcohol', 'married', 'profession', 'bmi', 'health_risk'],
      dtype='object')

In [47]:
print(data.index)

RangeIndex(start=0, stop=5000, step=1)

In [34]:
print(data.dtypes)

age               int64
weight            int64
height            int64
exercise         object
sleep           float64
sugar_intake     object
smoking          object
alcohol          object
married          object
profession       object
bmi             float64
health_risk      object
dtype: object

In [ ]:
data.sample(10)

In [38]:
import re
r'\d+\.?\d*'
r'^\s*(yes|y|true|false)\s*$'
r'[^A-Za-Z\s]'
r'^(low|medium|high)\$'

'^(low|medium|high)\\$'

In [ ]:
data.isnull().sum().sum

In [ ]:
(data =="").sum()
(data == " ").sum()
(data.isin(["N/A", "null","unknown"])).sum()

In [ ]:
data.isnull().values.any()

In [44]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        port=3306,
        user="root",
        password="1234"
    )
    if conn.is_connected():
        print(" Connection successfully established.!")
    conn.close()
except mysql.connector.Error as err:
    print(f" Connection failed, Try again: {err}")

 Connection successfully established.!

In [45]:
from sqlalchemy import create_engine
import pandas as pd
import mysql.connector

file_path = "Lifestyle_and_Health_Risk_Prediction_Synthetic_Dataset.csv"
df = pd.read_csv(file_path)

# Ensure database exists
conn = mysql.connector.connect(
    host="localhost",
    port=3306,
    user="root",
    password="1234"
)
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS lifestyle_health_db;")
conn.commit()
cursor.close()
conn.close()

# Connect using SQLAlchemy
engine = create_engine("mysql+mysqlconnector://root:1234@localhost:3306/lifestyle_health_db")

# Load DataFrame
df.to_sql("lifestyle_health_db", con=engine, if_exists="replace", index=False)
print(" Data loaded successfully into 'lifestyle_health_db' table!")

 Data loaded successfully into 'lifestyle_health_db' table!